python-dotenv
wave
openai
requests
pydub
sounddevice
soundcard
numpy
nltk
speechrecognition
pyserial
playsound
toml
pygame
keyboard
torch
openai-whisper
langchain
langchain-community
huggingface_hub
elevenlabs
simpleaichat
text-generation
transformers
google-search-results
numexpr
langchainhub
sentencepiece
jinja2
litellm
ollama
mpv
serial
pyserial
keyboard
pyaudio
mpv
deepgram-sdk
#scipy
#mutagen
#regex_spm
#eth-tester
#py-evm
#oz-defender

