python-dotenv
wave
openai
requests
pydub
sounddevice
soundcard
numpy
nltk
speechrecognition
#scipy
pyserial
playsound
#mutagen
#regex_spm
toml
pygame
keyboard
#eth-tester
#py-evm
oz-defender
torch
openai-whisper
langchain
langchain-community
langchain-open-ai
huggingface_hub
elevenlabs
simpleaichat
text-generation
transformers
google-search-results
numexpr
langchainhub
sentencepiece
jinja2
litellm
ollama
# deepgram
mpv
serial
keyboard